.fefef1 {
	color: #fefef1;
}

.6292e4 {
	color: #6292e4;
}

.f2fafc {
	color: #f2fafc;
}

.c1eafc {
	color: #c1eafc;
}

.ffaa24 {
	color: #ffaa24;
}

.ffcb77 {
	color: #ffcb77;
}

.5f9154 {
	color: #5f9154;
}

.1c334a {
	color: #1c334a;
}

