.77bb22 {
	color: #77bb22;
}

.ea8006 {
	color: #ea8006;
}

.bb2244 {
	color: #bb2244;
}

.a3aaa3 {
	color: #a3aaa3;
}

.222931 {
	color: #222931;
}

.000201 {
	color: #000201;
}

.dfeef5 {
	color: #dfeef5;
}

.9ecbec {
	color: #9ecbec;
}

.1a8aca {
	color: #1a8aca;
}

.537dd3 {
	color: #537dd3;
}

.042c60 {
	color: #042c60;
}

.dce9f1 {
	color: #dce9f1;
}

.26343d {
	color: #26343d;
}

.dcebf2 {
	color: #dcebf2;
}

.e1f0f7 {
	color: #e1f0f7;
}

.fcfcfc {
	color: #fcfcfc;
}

.8cc4e9 {
	color: #8cc4e9;
}

.26333b {
	color: #26333b;
}

.436082 {
	color: #436082;
}

.e3f2df {
	color: #e3f2df;
}

