.fefef1 {
	color: #fefef1;
}

.color2 {
	color: #534022;
}

.color3 {
	color: #cf8e78;
}

.color4 {
	color: #848478;
}

.color5 {
	color: #9bb0b5;
}

.color6 {
	color: #af97a7;
}

.color7 {
	color: #699d5b;
}

.color8 {
	color: #a8997a;
}

.color9 {
	color: #080a16;
}

.color10 {
	color: #4e4d5f;
}

.color11 {
	color: #796775;
}

.6292e4 {
	color: #6292e4;
}

.f2fafc {
	color: #f2fafc;
}

.c1eafc {
	color: #c1eafc;
}

.ffaa24 {
	color: #ffaa24;
}

.ffcb77 {
	color: #ffcb77;
}

.5f9154 {
	color: #5f9154;
}

.1c334a {
	color: #1c334a;
}

